body {
    background-color: #638d6f;
    width: 100%;
    height: 100%;
}

.white-key {
    background-color: white;
    display: inline-block;
    height: 340px;
    width: 50px;
    border: black solid 2px;
    margin-left: -4px;
    font-size: 30px;
    line-height: 500px;
}

.container {
    background-color: lightgray;
    width: 25%;
    height: 340px;
    border: 3px solid #2f2e2e;
    padding: 0 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 170px);
}